/* TODO dynamic top/left values derived from fields */
/* TODO use fields from main to derive SV fields */
/* The rotator for the name circle.
 * If you change the site dimensions, you'll need to tinker with the top/left.
 * height and width should be equal (square), but you can change it to resize the circle.
 * -*-animation-duration will change the rotation speed.
 */
#name_rotator {
  z-index: 3;
  height: 800px;
  width: 800px;
  position: absolute;
  top: 200px;
  left: 200px;
  transform: translateZ(0);
  /* transform: translate3d(0, 0, 0); */
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-name: clockwise;
  animation-duration: 40000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  user-select: none;
  pointer-events: none;
}
/* 
 * Styling for each letter in the name rotator.
 * I highly recommend that you stick to monospace fonts, otherwise the curving text might look wonky.
 */
#name_rotator span {
  font: 26pt Monaco, MonoSpace;
  position: absolute;
}
/* The rotator for the description circle.
 * height and width should be equal (square), but you can change it to resize the circle.
 * -*-animation-duration will change the rotation speed.
 */
#description_rotator {
  z-index: 3;
  height: 1000px;
  width: 1000px;
  position: absolute;
  top: 100px;
  left: 100px;
  transform: translateZ(0);
  /* transform: translate3d(0, 0, 0); */
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-name: anticlockwise;
  animation-duration: 40000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  user-select: none;
  pointer-events: none;
}
/* 
 * Styling for each letter in the description rotator.
 * I highly recommend that you stick to monospace fonts, otherwise the curving text might look wonky.
 */
#description_rotator span {
  font: 26pt Monaco, MonoSpace;
  position: absolute;
}
#image_rotator {
  z-index: 3;
  height: 1200px;
  width: 1200px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateZ(0);
  /* transform: translate3d(0, 0, 0); */
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-name: clockwise;
  animation-duration: 40000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  user-select: none;
  pointer-events: none;
}
#image_rotator > div {
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover !important;
}
